# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Node (if you use JS tooling)
node_modules/
dist/
